
.dates{

}

.dates ul{
    list-style: none;
}
.dates ul li a{
    text-decoration: none;
    color: black;
}
.dates ul li a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
}
.dates ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
.dates ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}